<body>
    <div class="jumbotron text-center">
        <h1 class="display-4">Szabadulószoba Kaland</h1>


        <p class="lead">Üdvözöllek a szabadulószoba webalkalmazás nyitóoldalán! Sikerül kijutnod?</p>
    
    
    </div>

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/escape-room-1.png" class="d-block mx-auto" style="width: 900px; height: auto;"
                    alt="szabaduloszoba-kep-1">
            </div>
            <div class="carousel-item">
                <img src="assets/escape-room-2.png" class="d-block mx-auto" style="width: 900px; height: auto;"
                    alt="szabaduloszoba-kep-2">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Előző</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Következő</span>
        </button>
    </div>

    <br><br><br>
    <div class="mt-4 text-center">
        <app-root></app-root>


    <div class="footer">
        <p>&copy; 2024 EscapeRoomAdventure | All rights reserved.</p>
    </div>
