body {
  background-color: #a6b9bc;
}

h1 {
  text-decoration: underline;
  color: yellow;
}

mark {
  background-color: white;
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: lightblue;
  border-top: 5px solid #0e1af8;
}

list-group {
  background-color: aqua;
}
