<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/">EscapeRoomAdventure</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <button type="button" class="btn btn-outline-primary">
                        <a class="nav-link" routerLink="/foglalasok">Foglalások listázása</a>
                    </button>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <button type="button" class="btn btn-outline-primary">
                        <a class="nav-link" routerLink="/ujfoglalas">Új foglalás felvétele</a>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>